html {
	background-color: #F5F3EE;
}

header {
	background: 100% #7D1935;
	border: 0;
	margin: 0;
	color: #F5F3EE;
	box-shadow: 0 2px 5px 1px #663300;
}

h1 {
	font: 3em 'Montserrat', sans-serif;
	margin: 3% 3% 0;
	padding: 3% 0 0 0;
	text-align: right;
}

h2 {
	font: 1.5em 'Montserrat', sans-serif;
	margin: 0 15%;
	padding: 0;
	color: #4A96AD;
}

body {
	padding: 0;
	border: 0;
	margin: 0;
}

footer {
	text-align: center;
	font-family: 'Calibri','Helvetica', sans-serif;
}

#subtitle {
	text-align: right;
	padding:0 0 3%;

}

#navigation ul {
	list-style-type: none;
	text-align: right;
	padding: 0;
	margin: 0;
}

#navigation ul li {
	display: inline;
}

#navigation ul a {
	text-decoration: none;
	font: 1em 'Montserrat', sans-serif;
	padding: .2em 1em;
	margin: 0;
	background-color: #7D1935;
	color: #F5F3EE;
	box-shadow: 1px 1.5px .5px .5px #663300;
}

#navigation ul a:hover {
	color: #4A96AD;
}

#contact{

	
}

.standard_text {
	text-align: justify;
	font-family: 'Calibri','Helvetica', sans-serif;
	margin: 0 20%;
}

.content {
	padding-top: 5%;
}

/*CONTACT FORM STYLING*/
/*UNSLIDER - GALLERY STYLING*/
.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }

/*
color palatte
#7D1935
#4A96AD
#F5F3EE
#FFFFFF


*/

