header {
	background: 100% #95d2d3;
	padding: 10px 0 #59606c;
	border: 0;
	margin: 0;
/*	I can't figure out how to remove white space */	
	color: #00474a;
	font: 16px Helvetica,Arial,sans-serif;
}

h1 {
	text-align: left;
}

h2 {
	text-align: left;
}

ul {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	padding: 0;
	border: 0;
	margin: 0;
}

.navigation {
	display: inline-block; 
}