header {
	text-align: center;
	background: 100% #95d2d3;
	padding: 10px 0 #59606c;
	border: 0;
	margin: 0;
/*	I can't figure out how to remove white space */	
	color: #00474a;
}

h1 {
}

h2 {
	margin: 0 15%;
}

ul {
	padding: 0;
	border: 0;
	margin: 0;
}

body {
	padding: 0;
	border: 0;
	margin: 0;
}

footer {
	text-align: center;
}

#title {

}

#subtitle {
}

#navbar {
	text-align: center;
}

.navigation {
	display: inline-block; 
}

.standard_text {
	font: 16px font-family: 'Montserrat', sans-serif;
	text-align: justify;
	margin: 0 20%;

}

